<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Restaurant</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body class="bg-light">
  <div class="top-section d-flex-col">
    <div class="top bg-light p-3">
      <div class="d-flex justify-content-around align-items-center">
        <a href="https://icons8.com/icon/93Pyeq47Ij5z/taco">
          <img src="https://img.icons8.com/wired/64/000000/taco.png" />
        </a>
        <a href="https://icons8.com/icon/SjDF1-cb83WH/eights">
          <img src="https://img.icons8.com/wired/64/000000/eights.png" />
        </a>
        <a href="https://icons8.com/icon/98811/noodles">
          <img src="https://img.icons8.com/wired/64/000000/noodles.png" />
        </a>
        <a href="https://icons8.com/icon/98765/brezel">
          <img src="https://img.icons8.com/wired/64/000000/bavarian-pretzel.png" />
        </a>
        <a href="https://icons8.com/icon/uE3Pc88DxdYF/melting-ice-cream">
          <img src="https://img.icons8.com/wired/64/000000/melting-ice-cream.png" />
        </a>
        <a href="https://icons8.com/icon/98787/italian-pizza">
          <img src="https://img.icons8.com/wired/64/000000/italian-pizza.png" />
        </a>
      </div>


    </div>
    <div class="down bg-dark d-flex justify-content-center">
      <p class="text-light font-weight-bold align-self-center mt-4" style="font-size: 45px; font-family:fantasy;">
        Restaurant List</p>
    </div>
  </div>
  <div class="search d-flex justify-content-start m-2">
      <a href="/" class="text-dark ml-2">
        <svg class="bi bi-house-fill" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
            clip-rule="evenodd" />
        </svg>
      </a>
      <a href="/create" class="ml-3 text-dark">
        <svg class="bi bi-plus-square" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd"
            d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
            clip-rule="evenodd" />
        </svg>
      </a>
  </div>

  {{{body}}}
  <script src="/javascripts/layout.js"></script>
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>